.container-button {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #186ba0;
}

.container-button:hover {
  background-color: #633593;
}

.operator {
  background-color: #b04a13;
}

.operator:hover {
  background-color: #cbc322;
}